body {
    margin: 40px auto;
    max-width: 800px;
    font: 18px/1.5 sans-serif;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2;
    text-align: center;
}

.section {
    text-align: center;
    font-weight: bold;
}

pre {
    background-color: #eee;
    border: 1px solid black;
    padding: 1em;
}

code {
    font: 16px/1.2 monospace;
    background-color: #eee;
    padding: 2px 4px;
    white-space: nowrap;
}

pre > code {
    padding: 0;
    white-space: pre;
}
